#mg-upc-admin-app {
	margin: 1em 2em 1em 1em;
}
#mg-upc-admin-app h2 {
	font-size: 2em;
}
#mg-upc-admin-app h2 > a{
	font-size: 2em;
}
#mg-upc-admin-app button{
	min-height: 40px;
	background: #2271b1;
	color: #fff;
	border-color: #2271b1;
	border-radius: 3px;
	border: none;
	padding: 0.7em 1em;
}
.mg-upc-dg-back {
	text-decoration: none;
	padding: 0.5em;
}
.mg-upc-dg-filter {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 1em 0;
}
.mg-upc-dg-filter > li {
	flex-grow: 2;
	padding: 0.6em;
	margin: 0.2em;
	border: solid 1px #e5e5e5;
	cursor: pointer;
	text-align: center;
}
.mg-upc-dg-filter > input {
	height: 30px;
	flex-grow: 2;
}
.mg-upc-dg-filter .mg-upc-dg-filter-label {
	width: 100px;
	flex-grow: 0;
	border: none;
	border-bottom: 1px solid #ccc;
}
.mg-upc-selected {
	background: #ffffff !important;
	border-color: #000;
}
.mg-upc-list-dates {
	float: right;
}
.mg-upc-dg-df {
	display: flex;
	margin: 1em 0;
}
.mg-upc-dg-df > * {
	flex-grow: 2;
	margin: 0;
}
@media (max-width: 600px) {
	.mg-upc-dg-df {
		flex-direction: column;
	}
	.mg-upc-list-dates {
		display: block;
		float: none;
	}
}
