$icomoon-font-family: "mgupc" !default;
$icomoon-font-path: "fonts" !default;

$upc-font-close: "\e90d";
$upc-font-copy: "\e90b";
$upc-font-first_page: "\e90a";
$upc-font-last_page: "\e903";
$upc-font-arrow_left: "\e904";
$upc-font-arrow_right: "\e905";
$upc-font-poll: "\e906";
$upc-font-numbered: "\e908";
$upc-font-cart: "\e910";
$upc-font-bookmark: "\e90f";
$upc-font-heart: "\e90e";
$upc-font-save: "\e90c";
$upc-font-edit: "\e902";
$upc-font-share: "\e907";
$upc-font-list: "\e909";
$upc-font-add: "\e901";
$upc-font-trash: "\e900";

